ErrorDocument 500 https://lumikha.co/404
ErrorDocument 404 https://lumikha.co/404

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ $1.php [L,QSA]
